body {
    background-color: #0c2834 !important;;
}

.container {
    background-color: #0c2834 !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 30rem;
}

.question-footer {
    border-top: 1px solid rgba(55, 151, 207, 0.71);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(55, 151, 207, 0.71);;
}

.bg-success, .bg-danger {
    color: white !important;
}

.win-img {
    width: 100%;
}

.header-end-text {
    font-size: 38px;
    margin-bottom: 16px;
}

.end-text {
    text-align: center;
}